<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>welcome to the text alalizer. Enter your text bellow </h1>
   <form action="/analyze" methord="get">
    <textarea name ='text' style="width: 1194px; height: 195px;">        
    </textarea>
    <input type="checkbox" name="removepunc" id=""> remove puncuations<br>
    <input type="checkbox" name="fullcaps" id="">UPPERCASE<br>
    <input type="checkbox" name="newlineremover" id="">New Line Remover<br>

<button type="submit">Analyze Text</button>
   </form>
</body>
</html>