<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Login page</title>
</head>
<body>
    <h1 style="font:bold;">INSTAGRAM</h1>
    <form action="\user_login" method="get">
        <div>
            <p style="color: red;">{{problem}}</p>
        <label for="username">Username</label>
        <input type="text" name="username"required><br>
        <label for="password">Password</label>
        <input type="password" name="password" required><br>
        <input type="submit" value="Login">
        <p>new to instagram? <a href="/signup" style="text-decoration: none; color: #1877f2; font-size: 14px; font-weight: 500;">Sign up for Instagram</a></p>
        </div>
    </form>
</body>
</html>