<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Login page</title>
</head>
<body>
    
    <h1 style="font:bold;">INSTAGRAM </h1>
    <form action="\create_user" method="get">
        <div>
            <p style="color: red;">{{problem}}<br></p>
        <label for="username" >Username</label>
        <input type="text" name="username" required><br>
        <label for="password1">select a Password</label>
        <input type="password" name="password1" required><br>
        <label for="password2">retype your Password</label>
        <input type="password" name="password2" required><br>
        <input type="submit" value="Login">
        <p>already have an account? <a href="\" style="text-decoration: none; color: #1877f2; font-size: 14px; font-weight: 500;">login</a></p>
        </div>
    </form>
</body>
</html>